@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="index-header">
    <h1 class="index-header-title">@ViewData["Title"]</h1>
    <h3 class="index-header-subtitle">Thank you for confirming your email</h3>
</div>