@page
@model foodbank_website.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/site.css" />

<h1 class="page-header">@ViewData["Title"]</h1>

<div class="row justify-content-center body-card-container" style="margin-top: 100px;">
    <div class="card text-center mb-4" style="width: 80rem;">
        <h5 class="card-header contact-title">Our Mission</h5>
        <div class="card-body">
            <p class="card-text">Here at Saint Vincent Food Bank, we strive to serve our community. As a Benedictine organization, we follow the ten core values of the Rule of Saint Benedict: love, prayer, stability, conversatio, obedience, discipline, humility, stewardship, hospitality, and community. These hallmarks remind us that it is our duty to love and serve those in our community. That is why it is our mission to provide, not only food, but also fellowship and a sense of community for all those in the Latrobe and Greesnburg areas that are in need.</p>
        </div>
    </div>
    <div class="card text-center mb-4" style="width: 80rem; margin-top: 50px;">
        <h5 class="card-header contact-title">About Us</h5>
        <div class="card-body">
            <p class="card-text">The Saint Vincent Food Bank was founded in 2022 by four Saint Vincent College Students. These four students had a passion for serving their community and wanted to make a difference in their area. Together they founded the Saint Vincent Food bank and have been serving the greater Latrobe area ever since.</p>
        </div>
    </div>
</div>
