@page
@model foodbank_website.ContactUsModel
@{
    ViewData["Title"] = "Contact Us";
}


<h1 class="page-header">Contact Us!</h1>

<div class="page-content">
    <p>If you have any questions, feel free to contact one of our team members.</p>
</div>

<div class="row justify-content-center body-card-container">
    <div class="card text-center mb-4" style="width: 50rem;">
        <h5 class="card-header contact-title">Tom Krusinski</h5>
        <div class="card-body">
            <p class="card-text">thomas.krusinski@stvincent.edu</p>
        </div>
    </div>
    <div class="card text-center mb-4" style="width: 50rem;">
        <h5 class="card-header contact-title">Cassidy Hartle</h5>
        <div class="card-body">
            <p class="card-text">cassidy.hartle@stvincent.edu</p>
        </div>
    </div>
    <div class="card text-center mb-4" style="width: 50rem;">
        <h5 class="card-header contact-title">Josh Altmeyer</h5>
        <div class="card-body">
            <p class="card-text">joshua.altmeyer@stvincent.edu</p>
        </div>
    </div>
    <div class="card text-center mb-4" style="width: 50rem;">
        <h5 class="card-header contact-title">Sarah Kudrick</h5>
        <div class="card-body">
            <p class="card-text">sarah.kudrick@stvincent.edu</p>
        </div>
    </div>
</div>