@page
@model UserCheckModel
@{
    ViewData["Title"] = "Home page";
}

<div class="index-header">
    <h1 class="display-4 index-header-title">User Check</h1>
    <h3 class="index-header-subtitle">@Model.Message</h3>
</div>